@use '../basics/colores' as *;

.footer{
    padding: 2rem 0;

    p, ul, ol, a{
        color: #FFF;
        font-size: 0.8rem;
    }

    p{
        line-height: 150%;
    }

    .menu{
        li{
            margin: 0.5rem 0;
        }
    }

    .redes_sociales{
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        margin: 0;
        padding: 2rem 0;
        
        li{
            a{
                align-items: center;
                border: solid 2px #FFF;
                border-radius: 50%;
                display: flex;
                height: 32px;
                justify-content: center;
                margin: auto;
                transition: all .3s ease-in-out;
                width: 32px;

                svg{
                    height: 50%;
                    fill: #FFF;
                }

                &:hover{
                    border-color: $color-5 !important;
                    transform: scale(105%, 105%);
        
                    svg{
                        fill: $color-5 !important;
                    }
                }
            }
        }
    }
}
.site_inner_wrap{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;

    @media ( max-width: 415px ) and ( orientation: portrait ){
        flex-flow: row wrap;
    }
}
.footer_column{
    width: 20%;

    @media ( max-width: 415px ) and ( orientation: portrait ){
        width: 100%;
    }
}
.footer_logo{       
    svg{
        fill: #FFF;
        width: 150px;
    }
}
.footer_menu{
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}
.blog_link{
    display: block;
    text-align: center;
}
.footer_copy{
    color: #FFF;
    font-size: .8rem;
    text-align: center;
    padding: 1rem 0;
}