@use '../basics/colores' as *;

.tarjetas_container{
    h2{
        margin-bottom: 2rem;
    }
}
.tarjetas_item_container{
    @media ( max-width: 415px ) and ( orientation: portrait ){
        display: flex;
        flex-flow: row wrap;
        gap: 1rem;
        padding: 0 1rem;
    }
}
.tarjetas_item{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;

    @media ( max-width: 415px ) and ( orientation: portrait ){
        align-items: center;
        flex-flow: column;
        width: calc(50% - .5rem) !important;
    }

    svg{
        display: block;
        height: auto;
        margin: auto;
        flex-basis: 80px;
    }

    p{
        flex: 1;

        @media ( max-width: 415px ) and ( orientation: portrait ){
            text-align: center;
        }
    }
}

.beneficios_texto{
    display: flex;
    flex-flow: column;
    justify-content: center;
    
    @media ( max-width: 415px ) and ( orientation: portrait ){
        h2{
            text-align: center;
        }
    }

    .beneficios_item{
        svg{
            fill: $color-5;
        }
        strong{
            color:#000;
            font-weight: 300;
        }
    }

    .btn{
        display: block;
        margin-top: 2rem;

        @media ( max-width: 415px ) and ( orientation: portrait ){
            margin: 2rem auto 0;
        }
    }
}
.alquiler_container{

    .panel_titulo{
        margin: 1rem auto 2rem;
        width: 50%;

        @media ( max-width: 415px ) and ( orientation: portrait ){
            padding: 0 1rem;
            width: 100%;
        }
    }
    .panel_desc{
        margin: 1rem auto;
        width: 50%;

        @media ( max-width: 415px ) and ( orientation: portrait ){
            padding: 0 1rem;
            width: 100%;
        }
    }

    .alquiler_item{
        svg{
            fill: $color-5;
        }
        strong{
            color: #000;
            font-size: 1rem;
            font-weight: 300;
        }
    }
    .alquiler_tabla_container{
        align-items: center;
        display: flex;
        justify-content: center;

        @media ( max-width: 415px ) and ( orientation: portrait ){
            margin: auto;
        }
    }
    .alquiler_tabla{
        border: solid 1px $color-5;

        h4{
            background-color: $color-5;
            color: #FFF;
            margin: 0;
            padding: .5rem 0;
            text-align: center;
        }

        p{
            border-top: solid 1px $color-5;
            color: $color-5;
            margin: 0;
            font-size: 1rem;
            padding: .5rem 1rem;
            text-align: center;
        }
    }
    .btn{
        display: block;
        margin: 2rem auto 0;
    }
}
.infotech_text{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.info_tech_item{
    border-bottom: solid 1px #000;
    display: flex;
    flex-flow: row nowrap;
    padding: .6rem;
    
    h4{
        font-size: 0.9rem;
        margin: 0;
        flex-basis: 40%;
    }

    p{
        font-size: 0.9rem;
        margin: 0;
        flex: 1;
    }
}