@use '../basics/colores' as *;

.listado_productos{
    h2{
        margin-bottom: 4rem;
        text-align: center;
    }
}
.producto{
    
    @media ( max-width: 415px ) and ( orientation: portrait ){
        padding: .5rem 0;
        width: calc( 50% - .5rem) !important;
    }

    a{
        display: block;
        font-weight: 700;
        font-size: 1.4rem;
        text-align: center;

        svg{
            display: block;
            margin: auto;
            max-height: 120px;
            width: auto;
        }

        @media ( max-width: 415px ) and ( orientation: portrait ){
            font-size: 1rem;
        }

        &:first-of-type{
            padding-bottom: 1rem;
        }

    }
}
.producto_datafono{
    align-items: center;
    display: flex;
    flex-flow: column;

    
}

.tienda_ilustracion{
    @media ( max-width: 415px ) and ( orientation: portrait ){
        align-items: center;
        display: flex;
        
        div:first-of-type{
            height: 219px;
            margin: auto !important;
            width: 240px;

        }
    }
}
.tienda_texto{
    h2{
        color: $color-4;
    }
    p{
        color: #FFF;
    }
    .btn{
        display: block;
        margin: 3rem auto 0;
    }
}

.link_de_pago{    
    h2, h3{
        color: $color-5;
    }
}
.link_de_pago_image{
    @media ( max-width: 415px ) and ( orientation: portrait ){
        align-items: center;
        display: flex;
        flex-flow: column;

        div:first-of-type{
            height: 234px !important;
            width:240px !important;
        }
    }
    
    .btn{
        display: block;
        margin: 2rem auto 0;
    }
}
.link_pago_image_wrap{
    position: relative;

    div:first-of-type{
        height: 80%;
    }
}
.pasarela_de_pago{
    h2{
        color: $color-6;
    }
}
.pasarela_de_pago_image{
    @media ( max-width: 415px ) and ( orientation: portrait ){
        align-items: center;
        display: flex;
        flex-flow: column;

        div:first-of-type{
            height: 244px !important;
            width:240px !important;
        }
    }
}
.pasarela_btn_col{
    padding: 2rem 0 0;
    
    .btn{
        display: block;
        margin: auto;
        text-align: center;
    }
}

.datafono{
    background: rgba(31,187,155,1);
    background:  url(/images/nube-visa.svg), linear-gradient(97deg, $color-1 0%, $color-2 50%, $color-3 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 40%, 100%;

    @media ( max-width: 415px ) and ( orientation: portrait ){
        background-size: 60%, 100%;
    }
}
.datafono_ilustracion{

    @media ( max-width: 415px ) and ( orientation: portrait ){
        display: flex;
        justify-content: center;

        div:first-of-type{
            height: 320px !important;
            width:240px !important;
        }
    }
}
.datafono_texto{
    p, ul{
        color: #FFF;
    }
    .btn{
        display: block;
        margin: 1.5rem 0;
    }
}

.app_stores{
    padding: 8rem 0;
    
    h2{
        color: $color-5;
        text-align: center;
    }
    p{
        text-align: center;
    }
}
.app_stores_btn_container{
    margin: 0 auto;
    padding-top: 1rem;
    width: 60%;
}
.btn_store{
    a{
        display: block;
        transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
        
        &:hover{
            transform: scale(102%, 102%);
        }
    }
}